/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

/* Body Styling */
html,
body {
    display: flex;
    background-color: #f4f0e0;
    flex-direction: column;
    height: 100%;
}

/* Navigation Bar */
.navBar {
    display: flex;
    height: fit-content;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo */
.logoDiv {
    background-color: #ca9465;
    border-bottom-right-radius: 100px;
    display: flex;
    height: 180px;
    width: 180px;
    transition: all 200ms;
}

#logo {
    width: 160px;
    height: 160px;
    align-self: center;
    justify-self: center;
    transition: all 200ms;
}

/* Navigation Links */
.bar {
    background-color: #ca9465;
    display: flex;
    flex-grow: 1;
    height: 85px;
    justify-content: space-between;
    align-items: center;
}

.linkDiv {
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    width: 400px;
    margin-right: 20px;
}

.link:hover {
    font-size: 21px;
    text-decoration: underline;
}

.link {
    color: #f4f0e0;
    font-family: quicksand;
    font-size: 20px;
    font-weight: bold;
    transition: all 100ms;
    text-decoration: none;
    cursor: pointer;
}

/* Title Styling */
.title {
    justify-self: start;
    color: #f4f0e0;
    font-family: quicksand;
    font-size: 30px;
    font-weight: bold;
    transition: all 200ms;
}

/* Content Styling */
.content {
    color: #ca9465;
    font-family: quicksand;
    font-size: 25px;
    font-weight: bold;
    padding-top: 80px;
    padding-right: 60px;
    padding-left: 60px;
    justify-content: top;
    align-content: top;
    flex-grow: 1;
}

#footer{
    margin-top: 30px;
    padding: 20px;
    color: #f4f0e0;
    background-color: #ca9465;
    font-family: quicksand;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: bottom;
}

a{
    color: #f4f0e0;
}
@media screen and (max-width: 920px) {
    .content {
        font-size: 10px;
        padding-left: 1%;
        padding-right: 1%;
        margin-top: -40px;
        display: flex; /* Ensure the content itself is a flex container */
        flex-direction: column; /* Align items vertically */
        flex-grow: 1;
    }
    #footer{
        font-size: 10px;
        padding: 5px; 
    }
    .logoDiv {
        width: 70px;
        height: 80px;
        border-bottom-right-radius: 40px;
    }
    #logo {
        width: 60px;
        height: 60px;
    }
    .link {
        font-size: 10px;
    }
    .link:hover {
        font-size: 11px;
    }
    .linkDiv {
        width: 200px;
        margin-right: 0px;
    }
    .title {
        font-size: 14px;
    }
    .bar {
        height: 40px;
    }
}